<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>OZCobby</title>
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
 </head>
  <body>
  <nav class="navbar">
     <!-- LOGO -->
     <div class="logo">OZCobby</div>
     <!-- NAVIGATION MENU -->
     <ul class="nav-links">
       <!-- USING CHECKBOX HACK -->
       <input type="checkbox" id="checkbox_toggle" />
       <label for="checkbox_toggle" class="hamburger">&#9776;</label>
       <!-- NAVIGATION MENUS -->
       <div class="menu">
         <li><a href="{{ url_for('home') }}">Home</a></li>
         <li><a href="/">Accommodation</a></li>
         <li class="Recommendation">
             <a href="{{ url_for('get_recommendation') }}">Recommendation</a>
           <!-- DROPDOWN MENU -->
           <ul class="dropdown">
             <li><a href="/">Expenses </a></li>

           </ul>
         </li>
         <li><a href="/">About</a></li>
       </div>
     </ul>
   </nav>
   </body>
</html>